#currency-buttons{
    background-color:#ffc107;
    font-size: 1.2rem;
    margin: 0 ;
    color: rgb(0, 0, 0);

}

#buttons{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    background: #080808;
    color: #f5ecec;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}